<div class="card" data-id="{{ note.id }}">
  <h3 class="card-title">{{ note.title }}</h3>
  <div class="card-content">
    <p>{{ note.content|linebreaksbr }}</p>
  </div>
  <div class="card-actions">
    {% if note.tag %}
    <a class="card-tag" href="{% url 'tag_detail' note.tag.id %}">#{{ note.tag.name }}</a>
    {% endif %}
    {% if acoes %}
    <a class="card-action" href="{% url 'update' note.id %}" title="Editar">&#9998;</a>
    <form method="post" action="{% url 'delete' note.id %}">
      {% csrf_token %}
      <button class="card-action" type="submit" title="Apagar">&#128465;</button>
    </form>
    {% endif %}
  </div>
</div>
